#sidebar ::-webkit-scrollbar {
  width: 6px;
}

#sidebar ::-webkit-scrollbar-track {
  background: transparent;
}

#sidebar ::-webkit-scrollbar-thumb {
  background-color: rgb(var(--gray-200));
  border-radius: 10px;
  border: none;
}

#sidebar ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--gray-300));
}

#sidebar:is(.dark *) ::-webkit-scrollbar-thumb {
  background-color: rgb(var(--gray-700));
}
#sidebar:is(.dark *) ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(var(--gray-600));
}
